.idea/.name
.idea/compiler.xml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/uiDesigner.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/artifacts/simple_service_war.xml
.idea/artifacts/simple_service_war_exploded.xml
.idea/copyright/profiles_settings.xml
.idea/libraries/Maven__aopalliance_aopalliance_1_0.xml
.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_annotations_2_3_0.xml
.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_core_2_4_2.xml
.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_databind_2_3_3.xml
.idea/libraries/Maven__com_fasterxml_jackson_jaxrs_jackson_jaxrs_base_2_3_3.xml
.idea/libraries/Maven__com_fasterxml_jackson_jaxrs_jackson_jaxrs_json_provider_2_3_3.xml
.idea/libraries/Maven__com_fasterxml_jackson_module_jackson_module_jaxb_annotations_2_3_3.xml
.idea/libraries/Maven__com_github_docker_java_docker_java_0_10_1.xml
.idea/libraries/Maven__com_github_jnr_jffi_1_2_7.xml
.idea/libraries/Maven__com_github_jnr_jffi_native_1_2_7.xml
.idea/libraries/Maven__com_github_jnr_jnr_constants_0_8_4.xml
.idea/libraries/Maven__com_github_jnr_jnr_enxio_0_4.xml
.idea/libraries/Maven__com_github_jnr_jnr_ffi_1_0_3.xml
.idea/libraries/Maven__com_github_jnr_jnr_unixsocket_0_3.xml
.idea/libraries/Maven__com_github_jnr_jnr_x86asm_1_0_2.xml
.idea/libraries/Maven__com_google_code_findbugs_jsr305_1_3_9.xml
.idea/libraries/Maven__com_google_guava_guava_11_0_1.xml
.idea/libraries/Maven__com_google_inject_extensions_guice_multibindings_4_0_beta4.xml
.idea/libraries/Maven__com_google_inject_guice_4_0_beta4.xml
.idea/libraries/Maven__com_jcabi_incubator_xembly_0_17.xml
.idea/libraries/Maven__com_jcabi_jcabi_aspects_0_17_1.xml
.idea/libraries/Maven__com_jcabi_jcabi_github_0_14.xml
.idea/libraries/Maven__com_jcabi_jcabi_http_1_8_1.xml
.idea/libraries/Maven__com_jcabi_jcabi_immutable_1_2.xml
.idea/libraries/Maven__com_jcabi_jcabi_log_0_14_1.xml
.idea/libraries/Maven__com_jcabi_jcabi_manifests_1_0_3.xml
.idea/libraries/Maven__com_jcabi_jcabi_xml_0_11.xml
.idea/libraries/Maven__com_mashape_unirest_unirest_java_1_3_20.xml
.idea/libraries/Maven__com_sun_jersey_jersey_client_1_18_1.xml
.idea/libraries/Maven__com_sun_jersey_jersey_core_1_18_1.xml
.idea/libraries/Maven__commons_codec_commons_codec_1_8.xml
.idea/libraries/Maven__commons_io_commons_io_2_4.xml
.idea/libraries/Maven__commons_lang_commons_lang_2_6.xml
.idea/libraries/Maven__commons_logging_commons_logging_1_1_3.xml
.idea/libraries/Maven__io_netty_netty_buffer_4_1_0_Beta3.xml
.idea/libraries/Maven__io_netty_netty_codec_4_1_0_Beta3.xml
.idea/libraries/Maven__io_netty_netty_codec_http_4_1_0_Beta3.xml
.idea/libraries/Maven__io_netty_netty_common_4_1_0_Beta3.xml
.idea/libraries/Maven__io_netty_netty_handler_4_1_0_Beta3.xml
.idea/libraries/Maven__io_netty_netty_transport_4_1_0_Beta3.xml
.idea/libraries/Maven__javax_annotation_javax_annotation_api_1_2.xml
.idea/libraries/Maven__javax_inject_javax_inject_1.xml
.idea/libraries/Maven__javax_validation_validation_api_1_1_0_Final.xml
.idea/libraries/Maven__javax_ws_rs_javax_ws_rs_api_2_0.xml
.idea/libraries/Maven__javax_ws_rs_javax_ws_rs_api_2_0_1.xml
.idea/libraries/Maven__junit_junit_4_8_1.xml
.idea/libraries/Maven__org_antlr_antlr_runtime_3_5_2.xml
.idea/libraries/Maven__org_apache_commons_commons_compress_1_5.xml
.idea/libraries/Maven__org_apache_commons_commons_lang3_3_3_2.xml
.idea/libraries/Maven__org_apache_httpcomponents_httpasyncclient_4_0_1.xml
.idea/libraries/Maven__org_apache_httpcomponents_httpclient_4_3_4.xml
.idea/libraries/Maven__org_apache_httpcomponents_httpcore_4_3_2.xml
.idea/libraries/Maven__org_apache_httpcomponents_httpcore_nio_4_3_2.xml
.idea/libraries/Maven__org_apache_httpcomponents_httpmime_4_3_4.xml
.idea/libraries/Maven__org_aspectj_aspectjrt_1_8_1.xml
.idea/libraries/Maven__org_glassfish_hk2_external_aopalliance_repackaged_2_3_0_b05.xml
.idea/libraries/Maven__org_glassfish_hk2_external_aopalliance_repackaged_2_3_0_b10.xml
.idea/libraries/Maven__org_glassfish_hk2_external_javax_inject_2_3_0_b05.xml
.idea/libraries/Maven__org_glassfish_hk2_external_javax_inject_2_3_0_b10.xml
.idea/libraries/Maven__org_glassfish_hk2_hk2_api_2_3_0_b05.xml
.idea/libraries/Maven__org_glassfish_hk2_hk2_api_2_3_0_b10.xml
.idea/libraries/Maven__org_glassfish_hk2_hk2_locator_2_3_0_b05.xml
.idea/libraries/Maven__org_glassfish_hk2_hk2_locator_2_3_0_b10.xml
.idea/libraries/Maven__org_glassfish_hk2_hk2_utils_2_3_0_b05.xml
.idea/libraries/Maven__org_glassfish_hk2_hk2_utils_2_3_0_b10.xml
.idea/libraries/Maven__org_glassfish_hk2_osgi_resource_locator_1_0_1.xml
.idea/libraries/Maven__org_glassfish_javax_json_1_0_4.xml
.idea/libraries/Maven__org_glassfish_jersey_bundles_repackaged_jersey_guava_2_11.xml
.idea/libraries/Maven__org_glassfish_jersey_bundles_repackaged_jersey_guava_2_13.xml
.idea/libraries/Maven__org_glassfish_jersey_containers_jersey_container_servlet_core_2_13.xml
.idea/libraries/Maven__org_glassfish_jersey_core_jersey_client_2_11.xml
.idea/libraries/Maven__org_glassfish_jersey_core_jersey_client_2_13.xml
.idea/libraries/Maven__org_glassfish_jersey_core_jersey_common_2_11.xml
.idea/libraries/Maven__org_glassfish_jersey_core_jersey_common_2_13.xml
.idea/libraries/Maven__org_glassfish_jersey_core_jersey_server_2_13.xml
.idea/libraries/Maven__org_hamcrest_hamcrest_core_1_3.xml
.idea/libraries/Maven__org_hamcrest_hamcrest_library_1_3.xml
.idea/libraries/Maven__org_javassist_javassist_3_18_1_GA.xml
.idea/libraries/Maven__org_json_json_20140107.xml
.idea/libraries/Maven__org_mousio_etcd4j_0_4_8.xml
.idea/libraries/Maven__org_opt4j_opt4j_benchmarks_3_1_2.xml
.idea/libraries/Maven__org_opt4j_opt4j_core_3_1_2.xml
.idea/libraries/Maven__org_opt4j_opt4j_operators_3_1_2.xml
.idea/libraries/Maven__org_opt4j_opt4j_optimizers_3_1_2.xml
.idea/libraries/Maven__org_opt4j_opt4j_satdecoding_3_1_2.xml
.idea/libraries/Maven__org_opt4j_opt4j_viewer_3_1_2.xml
.idea/libraries/Maven__org_ow2_asm_asm_4_0.xml
.idea/libraries/Maven__org_ow2_asm_asm_analysis_4_0.xml
.idea/libraries/Maven__org_ow2_asm_asm_commons_4_0.xml
.idea/libraries/Maven__org_ow2_asm_asm_tree_4_0.xml
.idea/libraries/Maven__org_ow2_asm_asm_util_4_0.xml
.idea/libraries/Maven__org_ow2_sat4j_org_ow2_sat4j_core_2_3_3.xml
.idea/libraries/Maven__org_ow2_sat4j_org_ow2_sat4j_core_test_jar_tests_2_3_3.xml
.idea/libraries/Maven__org_ow2_sat4j_org_ow2_sat4j_pb_2_3_3.xml
.idea/libraries/Maven__org_slf4j_jul_to_slf4j_1_7_5.xml
.idea/libraries/Maven__org_slf4j_slf4j_api_1_7_5.xml
.idea/libraries/Maven__org_tukaani_xz_1_2.xml
.idea/scopes/scope_settings.xml
docker/nomads_busy_service_container/deploy/application.war
nomads-framework/nomads-framework.iml
nomads-framework/target/classes/Evaluation.class
nomads-framework/target/classes/at/ac/tuwien/dsg/mediator/EtcdControl.class
nomads-framework/target/classes/at/ac/tuwien/dsg/mediator/RegistryControl.class
nomads-framework/target/classes/at/ac/tuwien/dsg/optimizer/MultiobjectiveOptimization.class
nomads-framework/target/classes/at/ac/tuwien/dsg/utilities/PerformanceMonitor.class
simple-service/simple-service.iml
simple-service/target/simple-service-webapp.war
simple-service/target/classes/com/example/ComputingResource.class
simple-service/target/classes/com/example/DataResource.class
simple-service/target/classes/com/example/PerformanceMonitor.class
simple-service/target/maven-archiver/pom.properties
simple-service/target/simple-service-webapp/index.jsp
simple-service/target/simple-service-webapp/WEB-INF/web.xml
simple-service/target/simple-service-webapp/WEB-INF/classes/com/example/ComputingResource.class
simple-service/target/simple-service-webapp/WEB-INF/classes/com/example/DataResource.class
simple-service/target/simple-service-webapp/WEB-INF/classes/com/example/PerformanceMonitor.class
simple-service/target/simple-service-webapp/WEB-INF/lib/aopalliance-repackaged-2.3.0-b10.jar
simple-service/target/simple-service-webapp/WEB-INF/lib/commons-lang3-3.3.2.jar
simple-service/target/simple-service-webapp/WEB-INF/lib/hk2-api-2.3.0-b10.jar
simple-service/target/simple-service-webapp/WEB-INF/lib/hk2-locator-2.3.0-b10.jar
simple-service/target/simple-service-webapp/WEB-INF/lib/hk2-utils-2.3.0-b10.jar
simple-service/target/simple-service-webapp/WEB-INF/lib/javassist-3.18.1-GA.jar
simple-service/target/simple-service-webapp/WEB-INF/lib/javax.annotation-api-1.2.jar
simple-service/target/simple-service-webapp/WEB-INF/lib/javax.inject-2.3.0-b10.jar
simple-service/target/simple-service-webapp/WEB-INF/lib/javax.ws.rs-api-2.0.1.jar
simple-service/target/simple-service-webapp/WEB-INF/lib/jersey-client-2.13.jar
simple-service/target/simple-service-webapp/WEB-INF/lib/jersey-common-2.13.jar
simple-service/target/simple-service-webapp/WEB-INF/lib/jersey-container-servlet-core-2.13.jar
simple-service/target/simple-service-webapp/WEB-INF/lib/jersey-guava-2.13.jar
simple-service/target/simple-service-webapp/WEB-INF/lib/jersey-server-2.13.jar
simple-service/target/simple-service-webapp/WEB-INF/lib/osgi-resource-locator-1.0.1.jar
simple-service/target/simple-service-webapp/WEB-INF/lib/validation-api-1.1.0.Final.jar
