*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*


#IDE Settings
.idea
*.iml


#All class files etc.
*.class
*/target/**
*.war

nomadsStore.dbf.0
nomadsStore.dbf.t
nomadsStore.dbr.0
nomadsStore.dbr.t
nomadsStore.idf.0
nomadsStore.idf.t
nomadsStore.idr.0
nomadsStore.idr.t
