[Unit]
Description=Diamond Monitoring Service
After=etcd.service
After=docker.service
#Docker inspect !

[Service]
TimeoutStartSec=0
KillMode=none
EnvironmentFile=/etc/environment
ExecStartPre=-/usr/bin/docker kill %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStartPre=/usr/bin/docker pull jomis/diamond_monitoring_container
ExecStartPre=/bin/bash -c 'while [ "$(etcdctl get /services/nomads/endpoint)" = "" ]; do sleep 4; done;'
ExecStartPre=/bin/bash -c 'while [ "$(etcdctl get /services/graphite/endpoint)" = "" ]; do sleep 4; done;'
ExecStart=/usr/bin/docker run --name %n -e NOMADSENDPOINT="$(etcdctl get /services/nomads/endpoint)" -e GRAPHITEENDPOINT="$(etcdctl get /services/nomads/endpoint)" jomis/nomads
ExecStop=/usr/bin/docker stop %n

[X-Fleet]
Global=true
